@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
    font-family: "Noto Sans KR", sans-serif !important;
    margin: 0;
    padding: 0;
}
.ant-layout {
    background-color: #fcfcfd !important;
}
.ant-layout-header {
    background-color: #fff !important;
    padding: 0 !important;
}
.ant-divider {
    margin: 1px 0 !important;
}
.ant-menu-item-selected {
    font-weight: bolder !important;
    color: #ff9100 !important;
}
.ant-menu-item-selected::after {
    border-bottom: none !important;
}
.container {
    width: 1690px;
    padding: 40px;
    max-width: 1690px;
    margin: 0 auto;
    min-height: calc(100vh - 129px) !important;
}
.card {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    height: 100%;
}
.card-stats {
    margin: 1.5rem 0 0 0;
}
.hero,
.stats {
    margin: 2.5rem 0;
}
.hero .app-title {
    text-align: center;
}
.title-highlight {
    color: #ff9100;
}
.gas-price-card {
    position: relative;
}
.gas-price-card .wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.gas-price-refresh {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-40px, -40px);
    text-align: right;
}
.search-function {
    max-width: 480px;
    margin: 0 auto;
}
.stat {
    margin: 1rem 0 0 0;
    text-align: center;
}
.data-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}
